*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background-color: #273742;
    color: white;
    font-size: 25px;
}

.button-voltar
{   
    width: 160px;
    height: 40px;
    background-color: green;
    margin: 15px;
    border-color: transparent;
    color: white;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 600;
}

.button-voltar:hover
{
    margin-top: 10px;
    color: white;
    background-color: #326a748a;
    border: 2px #005255 solid;
}

@media(max-width: 750px)
{
    .body
    {
        padding: 30% ;
        text-align: center;
    }
}