*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background-color: #273742;
}

.container-title
{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 1%;
    background-color: cornflowerblue;
    border-radius: 5px;
    border: #2c3e49;
}

.container-title img
{
    width: 15%;
    height: 15%;
    justify-content: center;
    margin-left: 10px;
}

.container-title h1
{
    margin: auto;
    color: aliceblue;
    font-size: 45px;

}

.container-content
{
    width: 50%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    border: #2c3e49;
    background-color: #f8f8f8;
    padding: 3px;

    
}

.container-content .container-box1      
{
    align-self: flex-start;
}

.container-content .container-box3     
{
    align-self: flex-end;
}

.container-unified1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.container-unified2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.container-data-unified2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;

}

.container-box1
{
    color: #5f6c76;
    font-size: 30px;
    font-weight: 700;
    margin: 10px;
    padding-left: 10px;
}

.container-box2
{
    font-size: 90px;
    font-weight: 600;
    margin: 10px;
}


.table
{
    width: 100%;
    color: #5f6c76;
    font-size: 20px;
    margin: 10px;
    padding-right: 10px;
    text-align: center;
    align-items:center;
    justify-content: space-between;
}

.table-data
{
    width: 100%;
    color: white;
    font-size: 20px;
    margin: 10px;
    padding-right: 10px;
    text-align: center;
    align-items:center;
    justify-content: space-between;
}

.table th
{
    margin-left: 10px;
    margin-right: 10px;
}

.table td
{
    margin-left: 10px;
    margin-right: 10px;
}


.container-box3
{
    color: #5f6c76;
    font-size: 20px;
    margin: 0px 25px 10px 25px; /*top-right-bottom-left*/
    align-content: space-between;
    
}

.container-box4
{
    color: #5f6c76;
    font-size: 15px;
    font-weight: 700;
    margin: 10px;
    padding-left: 10px;
}

.button-dados
{   
    margin-bottom: 10px;
    width: 160px;
    height: 40px;
    background-color: cornflowerblue;
    margin: 15px;
    border-color: transparent;
    color: white;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 600;
}

.button-dados:hover
{
    color: white;
    background-color:#326a748a;
    border: 2px #005255 solid;
}

@media(max-width: 748px)
{

    .container-title
    {
        width: fit-content;
        font-size: 25%;
    }

    .container-content
    {
        width: fit-content;
        font-size: 15%;
    }

    .container-unified2
    {
        width: fit-content;
    }

    .table
    {
        width: fit-content;
    }

}

@media(max-width: 600px)
{

    .container-title
    {
        width: fit-content;
        font-size: 20%;
    }

    .container-content
    {
        width: fit-content;
        font-size: 10%;
    }

    .container-unified2
    {
        width: fit-content;
    }

}
