<!DOCTYPE html>
<html lang="pt-rb">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="shortcut icon" href="/static/img/weather.png" type="image/x-icon">
        <title>Weather Crawler</title>
    </head>
    <body>
        <div class="container-title">
            <img src="/static/img/weather.png" alt="weather">
            <h1>Weather Crawler</h1>
        </div>
        {% for i in dataindex %}
        <!--{{ i }} -->
        <div class="container-content">
            <div class="container-box1">Tempo agora em: {{ i[1] }}</div>
            <div class="container-unified1">
                <div class="container-box4">{{ i[3] }}</div>
                <div class="container-box2">{{ i[2] }}°</div>  
            </div>
            <div class="container-unified2">
                <table class="table">
                    
                    <tr>
                      <th>Sensação</th>
                      <th>Umidade</th>
                      <th>Pressão</th>
                      <th>Vento</th>
                    </tr>
                    <tr>
                      <td>{{ i[4]  }}°</td>
                      <td>{{ i[5]  }}%</td>
                      <td>{{ i[6]  }}hPa</td>
                      <td>{{ i[7]  }}km/h</td>
                    </tr>
                    </table>
            </div>
            <div class="container-box3">Atualizado em: {{ i[8] }}</div>
        </div>
        {% endfor %}
        <a href="/dados" ><button class="button-dados">Dados</button></a>
        <a href="/loop" ><button class="button-dados">Loop</button></a>
    </body>
</html>